[user]
	name = Henrik Lindberg
	email = henrik@hnlk.se
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	unstage = reset HEAD
[push]
	default = tracking
[pull]
	rebase = false
[credential]
	helper = cache
